<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longder.car.repository.SysUserRepository">
    <resultMap id="SysUserResultMap" type="com.longder.car.entity.po.SysUser">
        <id column="id_" property="id"/>
        <result column="name_" property="name"/>
        <result column="login_name_" property="loginName"/>
        <result column="password_" property="password"/>
        <result column="gender_" property="gender"/>
        <result column="active_" property="active"/>
    </resultMap>
</mapper>