<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <!--[if lt IE 9]>
    <script th:src="@{/static}" src="${ctx}/static/js/plugins/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/font-awesome.css}" rel="stylesheet">
    <!--iCheck-->
    <link th:href="@{/static/css/plugins/iCheck/custom.css}" rel="stylesheet">
    <!-- Morris -->
    <link th:href="@{/static/css/plugins/morris/morris-0.4.3.min.css}" rel="stylesheet">
    <!-- Sweet Alert -->
    <link th:href="@{/static/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">
    <!--myStyle-->
    <link th:href="@{/static/css/animate.css}" rel="stylesheet">
    <link th:href="@{/static/css/style.css}" rel="stylesheet">
    <link th:href="@{/static/css/mystyle.css}" rel="stylesheet">
    <!--Chosen-->
    <link th:href="@{/static/css/plugins/chosen/chosen.css}" rel="stylesheet">
    <link th:href="@{/static/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}" rel="stylesheet">
</head>
</html>
