<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="script">
    <!-- 全局js -->
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/js/plugins/validate/jquery.validate.min.js}"></script>
    <script th:src="@{/static/js/plugins/validate/messages_zh.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/static/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/static/js/plugins/layer/layer.min.js}"></script>

    <!-- 自定义js -->
    <script th:src="@{/static/js/hplus.js}"></script>
    <script th:src="@{/static/js/contabs.js}"></script>

    <!-- 第三方插件 -->
    <script th:src="@{/static/js/plugins/pace/pace.min.js}"></script>
    <script th:src="@{/static/js/plugins/peity/jquery.peity.min.js}"></script>
    <script th:src="@{/static/js/plugins/iCheck/icheck.min.js}"></script>
    <script th:src="@{/static/js/demo/peity-demo.js}"></script>
    <script th:src="@{/static/js/plugins/layer/layer.min.js}"></script>
    <script th:src="@{/static/js/plugins/layer/laydate/laydate.js}"></script>
    <script th:src="@{/static/js/plugins/suggest/bootstrap-suggest.min.js}"></script>
    <script th:src="@{/static/js/plugins/chosen/chosen.jquery.js}"></script>
    <script th:src="@{/static/js/plugins/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{/static/js/plugins/echarts/echarts-all.js}"></script>
    <script th:src="@{/static/js/layui.js}"></script>
    <script th:src="@{/static/js/modal.js}"></script>

    <!-- ECharts -->
    <script th:href="@{/static/js/plugins/echarts/echarts-all.js/}"></script>
</div>
</html>