<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                    class="sr-only">Close</span></button>
            <h4 class="modal-title">修改密码</h4>
        </div>
        <small class="font-bold">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <form id="updatePasswordForm" class="form-horizontal">
<!--                                    <div class="form-group">-->
<!--                                        <label class="col-sm-2 control-label">原密码<span-->
<!--                                                class="text-danger">*</span></label>-->
<!--                                        <div class="col-sm-10">-->
<!--                                            <input type="password" class="form-control" name="originalPassword"/>-->
<!--                                        </div>-->
<!--                                    </div>-->

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">新密码<span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input id="password" type="password" class="form-control" name="password"/>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">确认密码<span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input id="passwordAgain" type="password" class="form-control"
                                                   name="passwordAgain"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button class="btn btn-primary" type="submit">保存</button>
                                            <button class="btn btn-white" type="button" data-dismiss="modal">取消</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </small>
    </div>
    <small class="font-bold"></small>
</div>
<small class="font-bold"></small>
<script type="text/javascript">
    //自定义确定原密码验证
    // jQuery.validator.addMethod("checkOriginalPassword", function (value, element) {
    //     var flag = false;
    //     $.ajax({
    //         type: "post",
    //         url: "/admin/user/checkPassword",
    //         data: {password: value},
    //         async: false,
    //         success: function (data) {
    //             if (data == false) {
    //                 flag = false;
    //             } else {
    //                 flag = true;
    //             }
    //         }
    //     });
    //     return flag;
    // }, "原密码输入错误");

    $(function () {
        //表单验证
        $("#updatePasswordForm").validate({
            rules: {
                // originalPassword: {
                //     "required": true,
                //     // "checkOriginalPassword": true
                // },
                password: "required",
                passwordAgain: {
                    "required": true,
                    "equalTo": "#password"
                }
            }, messages: {
                // originalPassword: {
                //     "required": "请输入原密码",
                //     // "checkOriginalPassword": "原密码输入错误"
                // },
                password: "请输入密码",
                passwordAgain: {
                    "required": "请确认密码",
                    "equalTo": "两次密码输入不一致"
                }
            },
            onkeyup: false,
            submitHandler: function () {
                ajaxSubmitForm();
            }
        });
    });

    //异步提交表单
    function ajaxSubmitForm() {
        var password = $("#password").val();
        $.ajax({
            url: "/admin/user/changePassword",
            type: "post",
            async: false,
            data: {
                password: password,
            },success: function (data) {
                if(data==="ok"){
                    swal({
                        title: "修改成功",
                        text: "请重新登录系统",
                        type: "success"
                    },function(){
                        window.location = "/logout";
                    });
                }
            }
        });
    }
</script>