<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--引入统一头-->
<head th:include="import/head :: head"></head>

<script type="text/javascript"
        src="https://webapi.amap.com/maps?v=1.4.14&key=9136b31f01d571688cde091d98fca63d"></script>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>基本信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-4">
                            <h1 class="no-margins">云A 89J57</h1>
                            <small>车牌号</small>
                        </div>
                        <div class="col-xs-4">
                            <h1 class="no-margins">斯柯达</h1>
                            <small>品牌</small>
                        </div>
                        <div class="col-xs-4">
                            <h1 class="no-margins">1.4T</h1>
                            <small>排量</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right"></span>
                    <h5>里程</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="totalRange">20000 KM</h1>
                    <small>总行驶</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">自启动起</span>
                    <h5>里程</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="currentRange">0 KM</h1>
                    <small>当前行驶</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">平均</span>
                    <h5>油耗</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">8.0 L/km</h1>
                    <small>平均油耗</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">瞬时</span>
                    <h5>油耗</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">10.0 L/km</h1>
                    <small>瞬时油耗</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>仪表盘</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-gauge-chart"></div>
                </div>
            </div>

        </div>
        <div class="col-xs-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>当前位置</h5>
                </div>
                <div class="ibox-content">
                    <div id="mapContainer" style="width:500px;height:450px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入统一JS-->
<script th:replace="import/script :: script"></script>
<script type="text/javascript">
    $(function () {
        var gaugeChart = echarts.init(document.getElementById("echarts-gauge-chart"));

        var option = {
            tooltip: {
                formatter: "{a} <br/>{c} {b}"
            },
            series: [
                {
                    name: '速度',
                    type: 'gauge',
                    min: 0,
                    max: 220,
                    splitNumber: 11,
                    axisLine: {            // 坐标轴线
                        lineStyle: {       // 属性lineStyle控制线条样式
                            width: 10
                        }
                    },
                    axisTick: {            // 坐标轴小标记
                        length: 15,        // 属性length控制线长
                        lineStyle: {       // 属性lineStyle控制线条样式
                            color: 'auto'
                        }
                    },
                    splitLine: {           // 分隔线
                        length: 20,         // 属性length控制线长
                        lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                            color: 'auto'
                        }
                    },
                    title: {
                        textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            fontWeight: 'bolder',
                            fontSize: 20,
                            fontStyle: 'italic'
                        }
                    },
                    detail: {
                        textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            fontWeight: 'bolder'
                        }
                    },
                    data: [{value: 1, name: 'km/h'}]
                },
                {
                    name: '转速',
                    type: 'gauge',
                    center: ['25%', '55%'],    // 默认全局居中
                    radius: '50%',
                    min: 0,
                    max: 7,
                    endAngle: 45,
                    splitNumber: 7,
                    axisLine: {            // 坐标轴线
                        lineStyle: {       // 属性lineStyle控制线条样式
                            width: 8
                        }
                    },
                    axisTick: {            // 坐标轴小标记
                        length: 12,        // 属性length控制线长
                        lineStyle: {       // 属性lineStyle控制线条样式
                            color: 'auto'
                        }
                    },
                    splitLine: {           // 分隔线
                        length: 20,         // 属性length控制线长
                        lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                            color: 'auto'
                        }
                    },
                    pointer: {
                        width: 5
                    },
                    title: {
                        offsetCenter: [0, '-30%'],       // x, y，单位px
                    },
                    detail: {
                        textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            fontWeight: 'bolder'
                        }
                    },
                    data: [{value: 1.5}]
                },
                {
                    name: '油表',
                    type: 'gauge',
                    center: ['75%', '50%'],    // 默认全局居中
                    radius: '50%',
                    min: 0,
                    max: 2,
                    startAngle: 135,
                    endAngle: 45,
                    splitNumber: 2,
                    axisLine: {            // 坐标轴线
                        lineStyle: {       // 属性lineStyle控制线条样式
                            color: [ [0.2, '#ff4500'], [0.8, '#48b'], [1, '#228b22'] ],
                            width: 8
                        }
                    },
                    axisTick: {            // 坐标轴小标记
                        splitNumber: 5,
                        length: 10,        // 属性length控制线长
                        lineStyle: {       // 属性lineStyle控制线条样式
                            color: 'auto'
                        }
                    },
                    axisLabel: {
                        formatter: function (v) {
                            switch (v + '') {
                                case '0' :
                                    return 'E';
                                case '1' :
                                    return 'Gas';
                                case '2' :
                                    return 'F';
                            }
                        }
                    },
                    splitLine: {           // 分隔线
                        length: 15,         // 属性length控制线长
                        lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                            color: 'auto'
                        }
                    },
                    pointer: {
                        width: 2
                    },
                    title: {
                        show: false
                    },
                    detail: {
                        show: false
                    },
                    data: [{value: 2, name: 'gas'}]
                },
                {
                    name: '水表',
                    type: 'gauge',
                    center: ['75%', '50%'],    // 默认全局居中
                    radius: '50%',
                    min: 0,
                    max: 2,
                    startAngle: 315,
                    endAngle: 225,
                    splitNumber: 2,
                    axisLine: {            // 坐标轴线
                        lineStyle: {       // 属性lineStyle控制线条样式
                            color: [ [0.2, '#ff4500'], [0.8, '#48b'], [1, '#228b22'] ],
                            width: 8
                        }
                    },
                    axisTick: {            // 坐标轴小标记
                        show: false
                    },
                    axisLabel: {
                        formatter: function (v) {
                            switch (v + '') {
                                case '0' :
                                    return 'H';
                                case '1' :
                                    return 'Water';
                                case '2' :
                                    return 'C';
                            }
                        }
                    },
                    splitLine: {           // 分隔线
                        length: 15,         // 属性length控制线长
                        lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                            color: 'auto'
                        }
                    },
                    pointer: {
                        width: 2
                    },
                    title: {
                        show: false
                    },
                    detail: {
                        show: false
                    },
                    data: [{value: 2, name: '℃'}]
                }
            ]
        };
        gaugeChart.setOption(option);
        $(window).resize(gaugeChart.resize);

        var gas = 2;

        setInterval(function () {
            //取随机速度
            var speed = randomNum(1, 220);
            console.log("随机速度：" + speed);
            option.series[0].data = [{value: speed, name: 'km/h'}];
            //取随机转速
            var rotateSpeed = randomNum(0.9, 7, 1);
            option.series[1].data = [{value: rotateSpeed}];
            //油表递减0.01
            gas -= 0.01;
            option.series[2].data = [{value: gas, name: 'gas'}];

            //水表随机
            var water = randomNum(0.1, 2, 1);
            option.series[3].data = [{value: water, name: '℃'}];

            gaugeChart = echarts.init(document.getElementById("echarts-gauge-chart"));
            gaugeChart.setOption(option);
            $(window).resize(gaugeChart.resize);
            handleText();
        }, 5000);


        //高德地图
        var map = new AMap.Map("mapContainer", {
            resizeEnable: true,
            center: [116.397428, 39.90923],
            zoom: 50
        });

        //汽车标记
        // 实例化点标记

        var marker = new AMap.Marker({
            map: map,
            position: [116.397474,39.908696],
            icon: "https://webapi.amap.com/images/car.png",
            size: new AMap.Size(25,25),
            imageSize: new AMap.Size(25, 25),
            autoRotation: true,
            zoom: 17
        });
        marker.setMap(map);

    });

    /**
     * 随机整数 范围
     */
    function randomInteger(n, m) {
        return Math.floor(Math.random() * (m - n + 1) + n);
    }

    function randomNum(maxNum, minNum, decimalNum) {
        var max = 0, min = 0;
        minNum <= maxNum ? (min = minNum, max = maxNum) : (min = maxNum, max = minNum);
        switch (arguments.length) {
            case 1:
                return Math.floor(Math.random() * (max + 1));
                break;
            case 2:
                return Math.floor(Math.random() * (max - min + 1) + min);
                break;
            case 3:
                return (Math.random() * (max - min) + min).toFixed(decimalNum);
                break;
            default:
                return Math.random();
                break;
        }
    }

    //总里程
    var totalRange = 20000;
    //当前里程
    var currentRange = 0;
    //瞬时油耗
    var currentFuel = 0;
    //平均油耗
    var totalFuel = 0;

    /**
     * 处理文本值
     */
    function handleText() {
        //随机增加1到5km
        var cap = randomNum(0, 2, 1);
        currentRange = parseFloat(cap) + parseFloat(currentRange);
        totalRange = parseFloat(cap) + parseFloat(totalRange);

        $("#currentRange").text(currentRange.toFixed(1) + " KM");
        $("#totalRange").text(totalRange.toFixed(1) + " KM");
    }
</script>
</body>