<div class="modal-dialog modal-lg" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">车辆列表</h4>
        </div>
        <small class="font-bold">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>车牌号</th>
                                        <th>车辆品牌</th>
                                        <th>发动机排量</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="car:${carList}">
                                        <td th:text="${carStat.index+1}"></td>
                                        <td th:text="${car.license}"></td>
                                        <td th:text="${car.brand}">宝马</td>
                                        <td th:text="${car.displacement}">5.0T</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </small>
    </div>
</div>