<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--引入统一头-->
<head th:include="import/head :: head"></head>
<body>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>我的车辆列表</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="input-group-btn">
                        <input type="button" class="btn btn-success" data-toggle="modal"
                               data-target="#carModal"
                               onclick="openModal('/admin/car/toAdd','carModal')"
                               value="新增绑定车辆"/>
                        </span>
                    </div>
                    <div class="col-sm-9">

                    </div>
                </div>
                <div class="table table-bordered table-hover">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>车牌号</th>
                            <th>车辆品牌</th>
                            <th>发动机排量</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="car:${carList}">
                            <td th:text="${carStat.index+1}"></td>
                            <td th:text="${car.license}"></td>
                            <td th:text="${car.brand}">宝马</td>
                            <td th:text="${car.displacement}">5.0T</td>
                            <td>
                                <a th:href="@{/admin/car/detail}" href="#" class="btn btn-sm btn-warning">
                                    查看实时信息
                                </a>
                                <a href="#" class="btn btn-sm btn-danger"
                                   onclick="return confirm('确定删除吗？')">
                                    解除绑定
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="carModal" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!--引入统一JS-->
<script th:replace="import/script :: script"></script>
</body>
</html>
